{% liquid
  assign is_quantity = block.settings.goal_type == 'quantity'
  assign goal = block.settings.goal | times: 100.0
  assign current_value = cart.items_subtotal_price

  if is_quantity
    assign goal = block.settings.goal | round
    assign current_value = items_count
  endif

  assign goal_progress = 0
  if goal > 0
    assign goal_progress = current_value | times: 100.0 | divided_by: goal
  endif

  assign goal_reached = goal_progress >= 100.00
  if goal_progress > 100
    assign goal_progress = 100
  endif
%}

{% capture goal_difference_html %}
  {% if is_quantity %}
    {{ goal | minus: items_count | round }}
  {% else %}
    <span>{{ goal | minus: cart.items_subtotal_price | money_without_trailing_zeros }}</span>
  {% endif %}
{% endcapture %}

<cart-progress-bar
  class="cart-progress-bar"
  data-goal-type="{{ block.settings.goal_type }}"
  data-goal="{{ goal | round }}"
  data-progress-message="{{ block.settings.progress_message | escape }}"
  data-success-message="{{ block.settings.success_message | escape }}"
  data-money-format="{{ shop.money_format | escape }}"
>
<div
  class="cart-progress accent-color-{{ block.settings.accent_color }}"
  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
  {{ block.shopify_attributes }}
>
  <p class="cart-progress__text cart-progress-bar__message">
    {% if goal_reached == false %}
      {{ block.settings.progress_message | replace: '[amount]', goal_difference_html }}
    {% else %}
      {{ block.settings.success_message }}
    {% endif %}
  </p>
  <div class="cart-progress__bar">
    <div class="cart-progress__bar__progress cart-progress-bar__fill" style="width: {{ goal_progress }}%;">
      <div class="cart-progress__bar__badge">
        {%- if block.settings.custom_icon != blank -%}
          <img
            src="{{ block.settings.custom_icon | image_url }}"
            {% if block.settings.custom_icon.alt != blank %}
              alt="{{ block.settings.custom_icon.alt | escape }}"
            {% else %}
              role="presentation"
            {% endif %}
            height="200"
            width="200"
            loading="lazy"
          >
        {%- elsif block.settings.icon != blank -%}
          <span class="material-symbols-outlined{% if block.settings.icon_filled %} filled{% endif %}">
            {{- block.settings.icon -}}
          </span>
        {% else %}
          <span class="svg-wrapper">{% render 'icon-checkmark' %}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</cart-progress-bar>
