<cart-discount-field
  class="cart-discount{% if block.settings.bottom_separator %} cart-discount--bottom-separator{% endif %}"
  data-success-message="{{ block.settings.success_msg | escape }}"
  data-error-message="{{ block.settings.error_msg | escape }}"
  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
  {{ block.shopify_attributes }}
>
  <form class="cart-discount-field__form cart-discount-form">
    <div class="cart-discount-form__row">
      <div class="field">
        <input class="field__input cart-discount-field__input" type="text" name="discount" placeholder="{{ block.settings.placeholder }}">
        <label class="field__label">{{ block.settings.placeholder }}</label>
      </div>
      <button class="button" type="submit">{{ block.settings.btn_label }}</button>
    </div>
    <p class="cart-discount-field__error cart-discount-form__error" hidden></p>
    <p class="cart-discount-field__success" hidden></p>
  </form>
</cart-discount-field>
